h1 {
    text-align: center;
    color: #fff;
}

dt {
    float:left;
    margin-right:6px;
}

.favorable {
    background-color: green;
    padding: 5px;
}

.moderate {
    background-color: yellow;
    padding: 5px;
}

.severe {
    background-color: red;
    padding: 5px;
}

.error {
    background-color: lightgray;
    padding: 5px;
}